.row
  .col-xs-12.col-sm-4.col-sm-offset-2.footer-content
    h1 {{ site.title }}
    .social-bar.no-padding.col-xs-12
      a(href='{{ site.instagram }}')
        img.img-responsive(src='{{ site.url }}/assets/img/instagram.png')
      br
    | 这是一个既能给您提供在东京各方面的生活方式，又能给您带来各种便捷的公众号。希望能够帮助到您。
    br
    p(style='margin-top: 50px; color:white')
      a(href='https://yamadagenki.github.io/xushengbo/', style='color:white;font-weight:500', target='_blank') Copyright© ShengboXu. ALL RIGHTS RESERVED.
